$('.modal-body').html("<%= @task.name %>");
$('.modal').modal();
$('.modal-title').html("Show");
$('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>');
